:focus {
    outline-color: #1c7cd6
}

body {
    margin: 0;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    outline-color: #1862ab
}

div.header {
    width: 100%;
    background-color: #000;
    height: 50px;
    position: fixed;
    z-index: 9999
}

div.header>div,
div.inner {
    margin: auto;
    width: 94%;
    max-width: 1200px;
    position: relative
}

div.header a {
    display: inline-block
}

.button {
    display: inline-block;
    padding: 0 7px;
    background-color: #1862ab;
    color: #e9ecef !important;
    text-decoration: none;
    transition: background-color .4s;
    line-height: 30px
}

.button:hover {
    background-color: #1c7cd6
}

.text_button {
    color: #1862ab;
    text-decoration: none;
    transition: color .3s;
    display: inline-block
}

.text_button:hover {
    color: #1c7cd6
}

#header-left>:hover,
#header-user:hover {
    background-color: #222 !important
}

#header-menu {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0;
    padding: 0
}

#header-menu>img {
    width: 50px;
    height: 50px
}

#header-logo,
#header-logo>img {
    width: 158px;
    height: 50px
}

#header-user {
    border: 0;
    padding: 0;
    background: 0
}

#header-menunav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 94%;
    max-width: 250px;
    position: absolute;
    top: 50px;
    z-index: 10000;
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
    outline-color: transparent;
    background-color: #000
}

#header-menunav>a,
#header-usernav>a {
    height: 40px;
    color: #ddd;
    position: relative;
    background-color: #444;
    transition: background-color .1s
}

#header-menunav>a>span,
#header-usernav>a>span {
    display: inline-block;
    position: relative;
    line-height: 40px;
    padding-left: 20px;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .6);
    transition: background-color .25s
}

#header-menunav>a:hover>span,
#header-usernav>a:hover>span {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, .4)
}

#header-usernav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 94%;
    max-width: 250px;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 10000;
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
    outline-color: transparent;
    background-color: #000
}

.avatar {
    background-color: #ced4da;
    vertical-align: middle;
    text-align: center;
    color: #f1f3f5;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%
}

.avatar img {
    width: 100%;
    height: 100%;
    transition: opacity .2s;
    opacity: 0
}

.moderator {
    fill: #444;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-left: 5px
}

.subscriber {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    transition: filter .2s
}

.subscriber:hover {
    filter: drop-shadow(0 0 2px #000)
}

#page_title {
    display: none
}

a {
    color: #1862ab;
    text-decoration: none;
    transition: color .3s
}

a:hover {
    color: #1c7cd6
}

button {
    padding: 0;
    border: 0;
    background: 0 0;
    font: inherit
}

div.container {
    width: 100%;
    min-height: 150px;
    margin-bottom: 20px;
    position: absolute;
    top: 50px
}

div.footer {
    text-align: center;
    padding-top: 30px;
    height: 70px;
    color: #333
}

div.footer a {
    color: #333;
    padding: 3px;
    margin-right: 2px;
    text-decoration: none
}

div.footer a:hover {
    text-decoration: underline
}

div.columns {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    flex-wrap: wrap
}

div.maincolumns {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1600px !important
}

div.flex-responsive {
    flex-direction: row
}

div.loading {
    width: 50px;
    height: 50px;
    margin: auto
}

div.loading>svg {
    animation: .6s linear infinite spin;
    width: 50px;
    height: 50px
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

div.content-item {
    margin-top: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 3px solid #dadada;
    color: #1a1a1a
}

div.content-item img {
    float: left;
    margin-right: 10px;
    width: 300px;
    height: 169px;
    border: none
}

div.content-item a {
    font-size: 20px;
    color: #1b1b1b;
    text-decoration: none;
    font-weight: 700
}

div.content-item a:hover {
    text-decoration: underline
}

a.homeheading {
    font-size: 18px;
    margin: 15px 0;
    color: #212529;
    text-decoration: none;
    display: inline-block;
    font-weight: 700
}

a.homeheading:hover {
    text-decoration: underline
}

div.toolbar {
    width: 100%;
    background-color: #272727
}

div.toolbar>div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: auto
}

a.tooltile {
    background-size: cover;
    background-position: center;
    display: inline-block;
    color: #dee2e6;
    height: 175px;
    width: 33.33%;
    font-size: 23px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    text-decoration: none;
    text-shadow: #000 0 0 5px
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

a.tooltile>i {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    animation: .5s fadeIn
}

a.tooltile>div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1c1e20;
    opacity: 0;
    transition: opacity .2s
}

a.tooltile:hover>div {
    opacity: .3
}

a.tooltile>.tooldesc {
    font-size: 16px;
    display: none
}

a.tooltile:hover span {
    display: block
}

a.tooltile>span {
    display: block;
    position: relative;
    pointer-events: none
}

div.content-right {
    width: 500px;
    margin-top: 15px
}

div.content-left {
    flex-direction: column;
    width: 685px;
    margin-top: 15px
}

div.form {
    max-width: 600px
}

div.form span {
    width: 175px;
    display: inline-block
}

div.form input,
div.form select,
div.form textarea {
    border: 1px solid #ccc;
    width: 300px;
    padding: 5px;
    vertical-align: middle;
    margin-bottom: 3px
}

.templateheader {
    margin: 20px 0;
    display: flex;
    justify-content: space-between
}

.templateheader a {
    font-size: 32px;
    color: #000;
    text-decoration: none;
    font-weight: 700
}

.templateheader a:hover {
    text-decoration: underline
}

.templateheader input {
    padding: 5px;
    font-size: 18px;
    font-family: inherit;
    width: 250px;
    background-color: #f8f9fa;
    color: #495057;
    border: 2px solid #ced4da;
    border-radius: 3px;
    transition: border .4s
}

.templateheader input:active {
    border: 2px solid #adb5bd
}

.creation {
    display: block;
    position: relative
}

.creation:after {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
    background-color: #ced4da
}

.creation img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ced4da;
    display: block;
    margin-bottom: 3px;
    transition: opacity .2s;
    opacity: 0
}

div.creations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

div.creationItem {
    margin: 0 3px 20px;
    width: 330px;
    word-break: break-word;
    min-width: 250px;
    max-width: 330px;
    flex-basis: 32%;
    flex-grow: 1
}

a.creationTitle {
    color: #000;
    font-size: 20px;
    margin-bottom: 3px;
    display: block
}

a.creationUser {
    font-size: 16px;
    color: #333
}

div.creations a:hover {
    color: #1c7cd6
}

.more {
    margin: 10px auto auto;
    display: block;
    text-decoration: none;
    color: #1862ab !important;
    padding: 8px 0;
    width: 200px;
    text-align: center;
    font-weight: 700
}

.more:hover {
    text-decoration: underline
}

div.paginator {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    color: #495057
}

div.paginator a {
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
    color: #495057;
    background-color: #e9ecef;
    border: 2px solid #ced4da;
    border-radius: 3px;
    transition: border .4s
}

div.paginator a:hover {
    text-decoration: underline;
    border: 2px solid #adb5bd
}

@media (max-width:600px) {
    a.tooltile {
        width: 100%
    }

    div.flex-responsive {
        flex-direction: column;
        justify-content: center
    }

    div.maincolumns {
        flex-direction: column-reverse
    }
}

#editor {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    overflow: hidden;
    transition: transform .4s;
    height: 40%;
    max-height: 400px;
    max-width: 1200px;
    margin: auto;
    background-color: #dee2e6;
    box-shadow: 0 0 25px 0 #aaa;
    border-top: 8px solid #1862ab;
    padding: 5px;
    box-sizing: border-box
}

#editor.visible {
    transform: translateY(0)
}

#editor_newtopic {
    line-height: 30px;
    display: block
}

#editor_title {
    padding: 4px;
    border: 1px solid #ced4da;
    margin: 0 5px 0 0;
    vertical-align: top;
    box-sizing: border-box;
    width: 50%;
    font-size: 16px;
    font-family: inherit
}

#editor_content {
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    resize: none;
    position: absolute;
    top: 40px;
    bottom: 75px;
    outline: 0
}

#editor_content:focus {
    border-color: #1862ab
}

#editor_message {
    line-height: 30px;
    position: absolute;
    bottom: 45px;
    display: none;
    color: #c92a2a
}

hr {
    border: 0;
    border-bottom: 1px solid #eee
}

.controls {
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0
}

.sections {
    display: inline-block
}

.sections a {
    display: inline-block;
    padding: 0 6px;
    color: #000;
    text-decoration: none;
    transition: background-color .25s;
    margin-right: 5px;
    text-transform: capitalize
}

.sections a>input {
    background-color: transparent;
    border: 0;
    outline: 0;
    font-family: inherit;
    font-size: 15px;
    width: 0;
    transition: width .25s;
    margin: 0
}

.sections a.active {
    background-color: #f1f3f5
}

.sections a:hover {
    border-bottom: 3px solid #444
}

.sections a.selected {
    border-bottom: 3px solid #1862ab;
    font-weight: 700
}

.sections a.selected>input {
    width: 200px;
    margin-left: 6px
}

.sections svg {
    width: 16px;
    fill: #333;
    height: 16px;
    vertical-align: middle
}

.catlist {
    list-style: none;
    position: fixed;
    background-color: #f1f3f5;
    border: 1px solid #cfd5db;
    margin: 0;
    padding: 0
}

.catlist li {
    padding: 5px;
    cursor: default;
    line-height: 20px
}

.catlist li.active {
    background-color: #ced4da
}

.actiondd {
    list-style: none;
    position: fixed;
    background-color: #f1f3f5;
    border: 1px solid #cfd5db;
    margin: 0;
    padding: 0;
    max-width: 400px;
    box-shadow: 0 0 5px #868e96
}

.actiondd li {
    padding: 5px;
    cursor: default;
    line-height: 20px
}

.actiondd li.active {
    background-color: #ced4da
}

span.category {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    vertical-align: inherit
}

button.cat {
    background-color: #f1f3f5;
    border: 1px solid #ced4da;
    padding: 0 10px;
    display: inline-block;
    color: #343a40;
    text-decoration: none;
    margin-right: 5px
}

#discussion_title {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    max-width: 1200px;
    margin: auto;
    position: sticky;
    top: 50px;
    background-color: rgba(255, 255, 255, .9)
}

div.post {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 17px
}

div.post:hover button>svg {
    fill: #444
}

div.post:focus-within button>svg {
    fill: #444
}

div.firstpost {
    border-top: 1px solid #ddd
}

div.post_avatar {
    margin-right: 15px
}

div.post_info {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000
}

div.post_info span {
    color: #666
}

div.post_message {
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    word-wrap: break-word
}

div.post_message pre {
    overflow: auto
}

div.post_message p {
    margin: 5px 0
}

div.post_message img {
    max-width: 100%
}

div.post_likes {
    text-align: right;
    line-height: 40px
}

div.post_controls {
    height: 30px;
    display: flex;
    justify-content: flex-end
}

div.post_controls button {
    padding: 7px;
    display: inline-block;
    cursor: default;
    font-size: 16px;
    color: #444;
    margin-left: 5px;
    line-height: 16px
}

div.post_controls button:first-child {
    margin-left: 0
}

div.post_controls button.liked>svg {
    fill: #d6336c
}

div.post_controls button:hover {
    background-color: #eee
}

div.post_controls svg {
    height: 16px;
    width: 16px;
    fill: #eee;
    transition: fill .4s
}

div.post_controls span {
    vertical-align: top;
    margin-left: 8px
}

div.emptymessage {
    line-height: 50px;
    color: #495057
}

div.creation_controls svg {
    fill: #444
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.editorwindow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #000;
    font-family: 'Source Code Pro', monospace;
    padding: 1px
}

.editorpanel {
    overflow: hidden;
    border: 1px solid #333;
    box-sizing: border-box;
    position: absolute;
    outline: 0;
    background-color: #2a2a2a
}

.editorpanel:focus {
    border-color: #384668
}

.editorpanel:focus-within {
    border-color: #384668
}

.keyselected {
    border-right: 50px solid rgba(0, 0, 0, .55) !important;
    box-sizing: border-box
}

.templateitem {
    display: block;
    margin: 20px auto auto;
    border: 2px solid #212121;
    cursor: pointer
}

.iconactive {
    fill: #a92424 !important
}

.media-title {
    width: 100%;
    padding: 5px;
    background-color: #222;
    color: #ccc;
    font-size: 16px;
    cursor: default;
    box-sizing: border-box
}

.media-list {
    padding: 4px;
    box-sizing: border-box;
    display: grid;
    grid-gap: 3px;
    overflow-y: auto;
    min-height: 100px;
    outline: 0
}

.media-item {
    padding: 5px;
    background-color: #333
}

.media-item.selected {
    background-color: #384668
}

.media-item-img {
    padding-bottom: 56.25%;
    height: 0;
    position: relative
}

.media-item-img>svg {
    fill: #ccc;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10%;
    position: absolute
}

.media-item-img>img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain
}

.media-item-title {
    color: #ccc !important;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.elevator {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    background-color: #000;
    transition: width 50ms;
    z-index: 2
}

.elevator.open {
    width: 300px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .5);
    transition: width .2s
}

.elevator a,
.elevator button {
    color: #dadada;
    width: 100%;
    display: block;
    font-size: 22px;
    cursor: default;
    overflow-x: hidden;
    white-space: nowrap;
    height: 50px;
    border: 2px solid transparent;
    box-sizing: border-box;
    outline: 0;
    text-align: left
}

.elevator a:hover,
.elevator button:hover {
    background-color: #222
}

.elevator a:focus {
    border-color: #717171
}

.elevator button:focus {
    border-color: #384668
}

.elevator a.nocontext {
    color: #303030
}

.elevator a.nocontext>svg {
    fill: #303030
}

.elevator a.selected {
    background-color: #384668
}

.elevator svg {
    margin-right: 30px;
    width: 30px;
    height: 30px;
    fill: #dadada;
    position: relative;
    left: 13px;
    top: 9px;
    display: inline-block;
    pointer-events: none
}

.elevator span {
    vertical-align: middle
}

.elevatortabs {
    position: absolute;
    bottom: 0;
    top: 50px;
    width: 100%;
    overflow: hidden
}

.elevatorcontrols {
    position: absolute;
    left: 60px;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    overflow-y: auto
}

input.rename {
    font: inherit;
    padding: 0;
    width: 100%;
    color: #ccc
}

.columnadjust {
    position: absolute;
    top: 0;
    height: 100%;
    width: 5px;
    cursor: ew-resize
}

button.collapse {
    color: #9a9a9a;
    display: inline-block;
    font-size: 12px;
    width: 20px;
    transition: transform 50ms linear;
    box-sizing: border-box;
    outline: 0;
    border: 0
}

button.collapse:hover {
    color: #ccc
}

button.collapse.collapsed {
    transform: rotate(-90deg)
}

ul.tree {
    padding-left: 0;
    margin: 0;
    color: #ccc;
    display: grid;
    min-width: 100%
}

ul.tree ul {
    list-style-type: none;
    padding-left: 0;
    display: contents;
    width: 100%
}

ul.tree li {
    padding: 3px 0;
    cursor: default;
    border-bottom: 1px solid #242424;
    display: grid;
    white-space: nowrap;
    box-sizing: border-box;
    grid-column-gap: 5px
}

ul.tree li>div {
    box-sizing: border-box;
    white-space: nowrap;
    width: 100%
}

ul.tree li>div:nth-child(1) {
    overflow: hidden;
    text-overflow: ellipsis
}

ul.tree li>div:nth-child(2) {
    padding: 0 5px
}

.actions {
    line-height: 0
}

.actionbutton {
    border: 2px solid transparent;
    height: 17px;
    width: 17px;
    display: inline-block;
    outline: 0;
    box-sizing: content-box;
    vertical-align: middle
}

.actionbutton:focus {
    border-color: #384668
}

ul.tree li.selected {
    background-color: #384668
}

ul.tree li.toplevel {
    background-color: #222
}

.proprow {
    color: #ccc;
    border-bottom: 1px solid #242424;
    padding: 5px;
    display: grid;
    grid-template-columns: minmax(0, auto) min-content
}

.proprow a {
    color: #7e8fb9
}

.proprow.spacer {
    background-color: #222
}

.proprow.proptitle {
    background-color: #222;
    display: block;
    line-height: 30px;
    padding: 5px 0
}

.proprow.proptitle span {
    vertical-align: middle;
    margin-left: 9px
}

.proprow.propbutton {
    width: 100%;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    color: #cbcbcb;
    background-color: #434343;
    outline: 0;
    border: 2px solid transparent;
    font-family: inherit;
    padding: 5px 7px
}

.proprow.propbutton:active {
    background-color: #444
}

.proprow.propbutton:focus {
    border-color: #384668
}

.proprow.propbutton:hover {
    border: 2px solid #545454
}

.editbox {
    line-height: normal
}

.backbutton {
    padding: 0 5px;
    margin-left: 5px;
    background-color: #474747;
    outline: 0;
    border: 2px solid transparent;
    height: 30px;
    width: 50px;
    vertical-align: middle
}

.backbutton>svg {
    fill: #ccc;
    width: 26px;
    height: 26px
}

.backbutton:active {
    background-color: #444
}

.backbutton:focus {
    border: 2px solid #384668
}

.backbutton:hover {
    border: 2px solid #545454
}

#previewpane {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #1d1d1d;
    overflow: hidden
}

#previewtop {
    height: 90px;
    background-color: #2a2a2a;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    border-bottom: 3px solid #111
}

#previewbottom {
    height: 90px;
    background-color: #2a2a2a;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    border-top: 3px solid #111
}

.pzinput {
    padding: 2px;
    border: 1px solid transparent;
    color: #7e8fb9;
    cursor: move
}

.pzinput.readOnly {
    color: #999;
    cursor: default;
    pointer-events: none
}

.pzinput.edit {
    border-color: #1b1b1b;
    background-color: #202020;
    cursor: auto
}

.pz-inputbox {
    border: 1px solid #1b1b1b;
    background-color: #202020;
    font-family: inherit;
    color: #7e8fb9;
    border-radius: 0;
    box-sizing: border-box
}

.pz-inputbox[disabled] {
    color: #999;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none
}

.pz-inputbox:focus,
.pzinput:focus {
    outline: 0;
    border-color: #384668
}

.pz-tweens {
    border: 1px solid #1b1b1b;
    background-color: #202020;
    vertical-align: middle;
    padding: 1px 4px;
    display: inline-block;
    height: 27px;
    margin-right: 5px;
    box-sizing: border-box;
    outline: 0
}

.pz-tweens span {
    font-size: 11px;
    vertical-align: top;
    margin-top: 5px;
    display: inline-block;
    margin-left: 3px;
    filter: invert(41%) sepia(13%) saturate(861%) hue-rotate(185deg) brightness(93%) contrast(92%)
}

.pz-tweens:focus {
    border-color: #384668
}

.pz-dropdown {
    position: absolute;
    padding: 0;
    margin: 0;
    max-height: 300px;
    width: 250px;
    overflow-y: auto;
    top: 400px;
    left: 297px;
    list-style: none;
    color: #ccc;
    outline: 0;
    border: 1px solid #384668;
    background-color: #202020
}

.pz-dropdown svg {
    width: 35px;
    height: 23px;
    pointer-events: none;
    vertical-align: middle;
    margin-right: 5px
}

.pz-dropdown span {
    vertical-align: middle;
    filter: invert(41%) sepia(13%) saturate(861%) hue-rotate(185deg) brightness(93%) contrast(92%)
}

.pz-dropdown li {
    padding: 3px 5px;
    cursor: pointer
}

.pz-dropdown li.pz-active {
    background-color: #2c2c2c
}

.pz-textarea {
    border: 1px solid #ddd;
    background-color: #ccc;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin: 5px 0;
    resize: none;
    outline: 0
}

.pz-textarea:focus {
    border-color: #384668
}

.pz-filterbox {
    padding: 5px;
    margin: 1px 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #2a2a2a;
    border: 2px solid #363636;
    font-family: inherit;
    color: #ccc;
    outline: 0;
    font-size: 16px
}

.pz-filterbox:focus {
    border-color: #384668
}

.pz-progress {
    height: 30px;
    background: #222;
    margin: 4px 0;
    overflow: hidden;
    flex-grow: 1
}

.pz-progress span {
    display: block;
    height: 100%;
    background-color: #384668;
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, .1), inset 0 -2px 6px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    transition: width 1s linear
}

button.pz-option {
    padding: 7px;
    color: #ccc;
    cursor: default;
    border: 1px solid transparent;
    border-bottom: 1px solid #242424;
    display: flex;
    text-align: left;
    width: 100%;
    outline: 0
}

button.pz-option span {
    color: #969696;
    display: block;
    margin-top: 5px;
    font-size: 14px
}

button.pz-option:hover {
    background-color: #2f2f2f
}

button.pz-option:focus {
    border-color: #384668
}

.pz-options {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block
}

.pz-options li {
    display: block;
    padding: 5px;
    color: #ccc;
    cursor: default;
    border: 1px solid transparent;
    border-bottom: 1px solid #242424
}

.pz-options li.active {
    background-color: #3f3f3f !important;
    border: 1px solid #676767
}

.pz-options li:hover {
    background-color: #2f2f2f
}

.pz-options>li span {
    color: #969696;
    display: block;
    margin-top: 5px;
    font-size: 14px
}

.pz-options>span {
    display: block;
    right: 0;
    left: 0;
    padding: 4px 5px;
    background-color: #222;
    color: #6d6d6d;
    font-size: 15px;
    cursor: default;
    border-bottom: 1px solid #1d1d1d
}

.pz-listbox {
    list-style-type: none;
    margin: 0;
    color: #bbb;
    background-color: #1d1d1d;
    padding: 0;
    width: 100%;
    height: 250px;
    overflow-y: auto
}

.pz-listbox ul {
    list-style-type: none;
    padding-left: 0;
    border-left: 8px solid #232323
}

.pz-listbox li {
    padding: 4px;
    cursor: default;
    border: 2px solid transparent;
    display: block;
    height: 20px
}

.pz-listbox li:hover {
    background-color: #2a2a2a
}

.pz-listbox li>a {
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    margin-top: 2px;
    cursor: pointer;
    visibility: hidden
}

.pz-listbox li>span {
    display: inline-block
}

.pz-listbox li:hover>a {
    visibility: visible
}

a.rotated {
    transform: rotate(-90deg)
}

.pz-listitem-selected {
    background-color: #384668 !important;
    color: #e4e4e4
}

.pz-listitem-selected>a {
    visibility: visible !important
}

.pz-listitem-edit {
    background-color: #ccc !important;
    border: 1px solid #868686 !important
}

.pz-listitem-edit>input {
    background: 0 0;
    color: #000;
    font-family: inherit;
    border: 0;
    font-size: 16px;
    width: 100%;
    outline: 0
}

.pz-listitem-edit>a {
    display: none !important
}

.empty {
    pointer-events: none;
    color: #666;
    text-align: center;
    cursor: default;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%
}

.toolbarpanel button {
    display: inline-block;
    margin-right: 5px;
    background: 0 0;
    border: 2px solid transparent;
    outline: 0;
    height: 29px;
    padding: 0
}

.toolbarpanel>button:focus {
    border-color: #384668
}

.timelabel {
    box-sizing: border-box;
    color: #656565;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    height: 100%;
    padding-left: 5px;
    border-left: 1px solid #555;
    border-right: 1px solid #3a3a3a
}

#keyframescroll {
    position: absolute;
    top: 35px;
    right: 0;
    left: 200px;
    overflow: hidden
}

#keyframecontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background: linear-gradient(#3d3d3d 25px, #2d2d2d 26px) 0 0/1px 50px !important;
    transform-origin: left
}

#trackcontainer {
    transform-origin: left
}

#trackcontainer>div {
    height: 50px;
    background-image: linear-gradient(#2b2b2b, #252525 50px);
    background-size: 1px 50px;
    background-repeat: repeat-x
}

#trackcontainer>div>div {
    position: absolute;
    height: 50px;
    background: linear-gradient(90deg, #5a5a5a, #4e4e4e 50%);
    box-sizing: border-box
}

.clipselected {
    background: #273465 !important
}

.clipproxy {
    position: absolute;
    height: 50px;
    border: 2px dashed #000;
    background: 0 0;
    box-sizing: border-box;
    z-index: 9999
}

#tracklabels {
    position: absolute;
    left: 0;
    top: 35px;
    width: 200px;
    overflow: hidden
}

#tracklabels>div {
    background-color: #333;
    height: 50px;
    color: #bdbdbd;
    box-sizing: border-box;
    padding: 5px;
    cursor: default;
    border: 1px solid transparent
}

#timebar {
    position: absolute;
    left: 200px;
    top: 0;
    height: 35px;
    overflow: hidden;
    background-image: linear-gradient(90deg, #555 0, #222 1px);
    background-size: 30px
}

.keyframe {
    width: 12px;
    height: 12px;
    margin-left: -6px;
    cursor: move;
    position: absolute;
    box-sizing: border-box;
    transform: rotate(45deg);
    margin-top: 4px
}

.keyframe.selected {
    background-color: #292929 !important
}

.clip {
    height: 100%;
    background-color: #526183;
    border: 1px solid #232323;
    box-sizing: border-box;
    position: absolute;
    cursor: default;
    overflow: hidden;
    border-left-color: #838383;
    border-top: 0;
    border-bottom: 0
}

.clip.selected {
    background-color: #7f94c7
}

.clip>.handle {
    position: absolute;
    top: 0;
    height: 100%;
    cursor: ew-resize;
    border: 0 #982b2b;
    box-sizing: border-box
}

.clip>.handle.selected {
    border-style: solid
}